In [23]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [24]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lompoc,US,2020-04-20 01:37:18,34.64,-120.46,59.00,67,90,12.75
1,1,Bathsheba,BB,2020-04-20 01:37:18,13.22,-59.52,80.60,69,20,17.22
2,2,Kahului,US,2020-04-20 01:37:18,20.89,-156.47,82.40,51,40,12.75
3,3,Tuktoyaktuk,CA,2020-04-20 01:37:19,69.45,-133.04,10.40,85,90,9.17
4,4,Busselton,AU,2020-04-20 01:37:19,-33.65,115.33,69.01,42,95,22.88

In [25]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [26]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [27]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [28]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [33]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Bathsheba,BB,2020-04-20 01:37:18,13.22,-59.52,80.60,69,20,17.22
2,2,Kahului,US,2020-04-20 01:37:18,20.89,-156.47,82.40,51,40,12.75
5,5,Mahebourg,MU,2020-04-20 01:37:19,-20.41,57.70,77.00,83,75,12.75
7,7,Vaini,TO,2020-04-20 01:37:19,-21.20,-175.20,84.20,74,20,11.41
12,12,Rikitea,PF,2020-04-20 01:37:20,-23.12,-134.97,76.84,71,93,6.76
15,15,Hithadhoo,MV,2020-04-20 01:37:21,-0.60,73.08,84.88,76,100,11.50
17,17,Hobyo,SO,2020-04-20 01:37:21,5.35,48.53,84.11,74,100,7.49
20,20,Bambanglipuro,ID,2020-04-20 01:37:21,-7.95,110.28,86.45,66,83,1.25
25,25,Hilo,US,2020-04-20 01:37:22,19.73,-155.09,80.60,51,1,12.75
27,27,Bonthe,SL,2020-04-20 01:37:23,7.53,-12.51,81.01,82,100,6.67

In [34]:
preferred_cities_df.count()

City_ID       144
City          144
Country       144
Date          144
Lat           144
Lng           144
Max Temp      144
Humidity      144
Cloudiness    144
Wind Speed    144
dtype: int64

In [36]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
1       Bathsheba      BB     80.60  13.22  -59.52
2         Kahului      US     82.40  20.89 -156.47
5       Mahebourg      MU     77.00 -20.41   57.70
7           Vaini      TO     84.20 -21.20 -175.20
12        Rikitea      PF     76.84 -23.12 -134.97
15      Hithadhoo      MV     84.88  -0.60   73.08
17          Hobyo      SO     84.11   5.35   48.53
20  Bambanglipuro      ID     86.45  -7.95  110.28
25           Hilo      US     80.60  19.73 -155.09
27         Bonthe      SL     81.01   7.53  -12.51

In [37]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [ ]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig